<script type="text/javascript">

$('.top_links').click(function(e) {
	$(this).nav(e);
});
	
</script>

<a id="login">Captain Awesome</a>

<span id="top-nav">
	<ul id="nav">
		<li class="headerlink" id="link_home"><a class="top_links" id="home" href="">Home</a></li>
		<li class="headerlink" id="link_profile"><a class="top_links" id="profile" href="">Profile</a></li>
		<li class="headerlink" id="link_requests"><a class="top_links" id="requests" href="">Requests</a></li>
		<li class="headerlink" id="link_settings"><a class="top_links" id="settings" href="">Settings</a></li>
	</ul>
</span>