<script>

$('.thumbs_up').click(function() {
		//$('#content').load('views/home.html');
		alert("STUB: Going to the user's recommendations (positive).");
	});	
	
$('.thumbs_down').click(function() {
		//$('#content').load('views/home.html');
		alert("STUB: Going to the user's recommendations (negative).");
	});
	
</script>

<div id="sidebar" style="text-align:center">
	<br/>
	<p><img src="public/images/face2.png" height="150"/></p>
	<p><strong>Captain Awesome</strong></p>
	
	<br/>
	
	<table border="0" align="center">
		<tr>
			<td class="thumbs_up clickable"><img class="thumbs" src="public/images/thumbs_up1.png" height="60"/></td>
			<td class="thumbs_down clickable"><img class="thumbs" src="public/images/thumbs_down1.png" height="60"/></td>
		</tr>
		<tr>
			<td class="thumbs_up clickable"><h3>10</h3></td>
			<td class="thumbs_down clickable"><h3>0</h3></td>
		</tr>
		
		
	</table>
	
	<br/><br/>
	<strong>My Favorites</strong><br/>
	
	<div>
		Running<br/>
		Pittsburgh<br/>
		Biking<br/>
		Swimming<br/>
	</div>
</div>