a:visited {
    color:Black;
    text-decoration:none;
}
a:active {
    color:Gray;
    text-decoration:none;
}
a:hover {
    color:Gray;
    text-decoration:none;
}
td{
    border-bottom:1px solid #116811;
}
.watermark {
    color: #999 !important;
}
.watermark2 {
    color: #999 !important;
    font-style: italic !important;
}
.watermark3 {
    color: #c77 !important;
}p{	font-family:"Arial";}