@light: #c7c7c7;
@darkgreen: 004a1e;
@green: #5CBD00;
@dark: #555;

.clickable {
	cursor:pointer;
}

.rounded {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

div.post {
	clear: both;
	margin: 10px 10px 10px 10px;
	overflow: hidden;
	border: 1px solid @light;
}

div.post-author {
	float: left;
	text-align: center;
	margin-right: 15px;
	padding: 15px;
	font-weight: bold;
	.clickable;
}

div.post-body {
	float: left;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	width: 340px;
}

.post-body p {
	padding: 10px 0px 10px 0px;
}

ul.tags {
	display:inline;
	padding-left: 4px;
	margin-bottom: -10px;
}

div.feeds-container {
	overflow: hidden;
	height: auto;
	border: 1px solid @light;
	border-top: 0px solid;
	margin-bottom: 30px;
}

ul.feeds {
	border-bottom: thin solid @light;
	overflow: hidden;
	margin: 3px 0px 3px 1px;
	padding: 3px 3px 0px 0px;
}

#postConnaction {
	border: thin solid @light;
	padding: 10px 10px 10px 10px;
}

textarea {
	width: 95%;
	height: 2em;
}

textarea.small {
	height: 1.1em;
}