@dark: #555; 
@white: #fff;
@blue: #2384de;
@grey: #efefef;
@darkgreen: #004A1E;

#side {
	overflow: hidden;
	float: left;
	width: 150px;
	margin: 0px 15px 0px 0px;
	padding: 10px 25px 0px 20px;
	left: 0px;
	min-height: 750px;
	height: 100%;
	position: relative;
	border-right: thin solid @grey;
	text-align: center;
}

#side .thumbs {
	padding: 3px 3px;
}

#favorites {
	padding: 10px 0 10px 0;
	border-top: thin solid @grey;
	border-bottom: thin solid @grey;
}

h2.sidebar {
	color: @dark;
}

.top_border {
	padding: 10px 0 10px 0;
	border-top: thin solid @grey;
}