@dark: #000; 
@white: #fff;
@green: #5CBD00;

#side {
	float: left;
	width: 200px;
	margin-right: 15px;
	padding: 20px 5px 50px 5px;
	background: @white;
	left: 10px;
	min-height: 750px;
	height: 100%;
	position: relative;
	border: 1px solid @dark;
	border-bottom: 0px solid;
}

#side .thumbs {
	padding: 3px 3px;
}

#side .thumbs:hover{
	background: @green;
	padding: 3px 3px;
}