@lightgrey: #ddd;
@dark: #555;
@white: #fff;
@green: #5CBD00;
@darkgreen: #004a1e;

.clickable {
	cursor:pointer;
}

.rounded {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.shadow {
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

ul {
	margin: 0 0 0 0;
	list-style: none;
}

body {
	font-family:"Helvetica Neue", "Helvetica Neue", Hevetica, Arial, sans-serif;
	font-size: 0.8em;
	line-height: 1.4;
	color: @dark;
	padding: 0;
	margin: 0px auto;
	margin-bottom: 10px;
	height: 768px;
	max-width: 800px;
	background: @white;
	align: center;
}

#container {
	width:780px;
	margin:0px auto;
	text-align:left;
	padding:0px;
	overflow:hidden;
	position: absolute;
	padding-top: 40px;
}

a {
	text-decoration:none;
	color: @green;
	.clickable;
}

a:hover {
	color: @green;
	text-decoration: underline;
}

a:visited {
	color: @green;
}

h1, h2, h3, h4 {
	margin: 0 0 0 0;
	padding: 4px 4px 4px 4px;
	color: @green;	
}

ul#nav {
	list-style: none;
	float: right;
	margin: 0;
	padding-right: 10px;
	height: 30px;
}

ul#nav li {
	height: 30px;
	display: inline;
	padding-right: 15px;
	.clickable;
}

ul#nav .active {
	color: @white;
}

header {
	top: 0;
	left: 0;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
	width: 100%;
	position: fixed;
	background: @darkgreen;
	color: @white;
	z-index:99;
	height: 30px;
}

#content {
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0px 40px 0px 0px;
	padding: 20px 0px 10px 0px;
}

h1 {
	font-size: 3em;
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
}

p {
	margin: 0 0 0 0;
}

div.main {
	float: left;
	height: 100%;
}

.main li, .tags li {
	display:inline;
	border: 1px solid @green;
	color: @green;
	padding: 5px 10px 5px 10px;
}

div.page {
	float:left;
}

div#credentials, div#new_user {
	text-align:center;
	margin: 0px auto;
	width: 300px;
}

/* WELCOME.PHP ROLLOVER EFFECTS */

#rollover_imgs {
	margin: 0px auto;
	width: 280px;
	height: 140px;
	text-align: center;
}

.rollover {
	height: 140px;
	width: 140px;
	overflow: hidden;
	float:left;
}

.rollover:hover {
	background-position: -140px 0px;
}

.active {
	background-position: -140px 0px;
}

#login {
	background-image: url('../public/images/loginbutton.png');
}

#signup {
	background-image: url('../public/images/signupbutton.png');
}

table {
	width: 100%;
	cell-padding: 2px;
}

table td {
	padding: 4px 2px 6px 2px;
}

table th {
	color: @green;
	vertical-align: baseline;
	padding-top: 5px;
	padding-bottom: 5px;
}

#postConnaction {
	width: 100%;
	border-color: @lightgrey;
	border-style:solid;
	border-width:1px;	
	padding-top: 10px;
	padding-bottom: 15px;
}

#postBoxes{
	padding: 10px 0px 10px 50px;
	text-align: left;
}

#restOfBoxes{
	padding: 15px 0px;
}

table#settings {
	width: 330px;
}

.settings th {
	width: 130px;
	border: thin solid @lightgrey;
	background: @green;
	color: @white;
}

.settings tr:nth-child(even), .requests tr:nth-child(even) {
	background:#F8F8FF;
}

.settings tr:nth-child(odd), .requests tr:nth-child(odd) {
	background:#E2E4FF;
}

div#ui-datepicker-div {
	background: #fff;
	border: thin solid @lightgrey;
	padding: 3px 6px 3px 6px;
	text-align:center;
	.rounded;
}